<div class="row">
  <div class="col-lg-1 col-md-1 col-sm-2 col-3 d-flex justify-content-center p-3">
    <i class="fas fa-bars text-light" style="font-size: 20px;"></i>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-10 col-9">
    <div class="row">
      <div class="col-3 d-flex align-items-center">
        <img src="../../../../assets/img/Rectangle Copy 17.png" height="54" width="54"/>
      </div>
      <div class="col-6">
        <div class="row p-2 align-content-center">
          <div class="col-12">
            <span class="Sepelo">Bob Dylan</span>
          </div>
          <div class="col-12">
            <span class="Bithika-Abhedananda">Gotta Serve Somebody</span>
          </div>
        </div>
      </div>
      <div class="col-3 d-flex justify-content-center p-3">
        <i class="fas fa-heart text-light"></i>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-7 col-sm-12 col-12 d-flex align-items-center">
    <div class="timeStart text-light" style=" width: 70px;text-align: center;">
      02:54
    </div>
    <div class="progress flex-grow-1">
      <div class="progress-bar bg-light" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="timeEnd text-light" style=" width: 70px;text-align: center;">
      02:54
    </div>
  </div>
  <div class="col-lg-2 col-sm-6 col-6 pr-4">
    <div class="row">
      <div class="col-4 d-flex justify-content-center p-3">
        <i class="fas fa-step-backward text-light" style="font-size: 22px;"></i>
      </div>
      <div class="col-4 d-flex justify-content-center p-3">
        <i class="fas fa-play-circle text-light" style="font-size: 30px;"></i>
      </div>
      <div class="col-4 d-flex justify-content-center p-3">
        <i class="fas fa-step-forward text-light" style="font-size: 22px;"></i>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-sm-6 col-6 pl-4">
    <div class="row">
      <div class="col-4 d-flex justify-content-center p-3">
        <i class="fas fa-volume-up text-light" style="font-size: 22px;"></i>
      </div>
      <div class="col-4 d-flex justify-content-center p-3">
        <i class="fas fa-sync text-light" style="font-size: 22px;"></i>
      </div>
      <div class="col-4 d-flex justify-content-center p-3">
        <i class="fas fa-random text-light" style="font-size: 22px;"></i>
      </div>
    </div>
  </div>
</div>
