.title-section {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: -0.63px;
  text-align: left;
  color: #ffffff;
}
.Damien-Saez-Profile {
  background-color: #202323;
}
.Mask {
  width: 360px;
  height: 360px;
  object-fit: contain;
  border-radius: 5px;
}
.title {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 0.4px;
  text-align: left;
  color: #ffffff;
}
.sub-title {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.list-group-item {
  background-color: transparent;
}
.detailSection {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 50%;
  background-color: #000000b0;
}
.detailSection p {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: -0.44px;
  text-align: left;
  color: #bfbfbf;
}
.custom-input {
  background-color: transparent;
  opacity: 0.66;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  border-radius: 19px;
  border: solid 1px rgba(255, 255, 255, 0.24);
}
.iconInput {
  color: #ffffff;
  opacity: 0.2;
  position: absolute;
  right: 12px;
  top: 7px;
}
.navMenu .nav-item > a {
  opacity: 0.73;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.play-item {
  width: 65px;
}
.play-item > i {
  font-size: 22px;
}
.play-timer {
  width: 60px;
}
.play-like {
  width: 40px;
}
/*.play-music {*/
  /*overflow-y: auto;*/
  /*max-height: 330px;*/
/*}*/
.subtitle-section {
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}
