<div class="row Damien-Saez-Profile">
  <div class="col-12">
    <div class="row">
      <div class="col-md-4 col-sm-5 col-12 searchZone">
        <form action="">
          <div class="form-group mt-3 mb-3" style=" position: relative;">
            <input type="text" class="form-control custom-input" placeholder="Damien Saez">
            <i class="fas fa-search iconInput"></i>
          </div>
        </form>
      </div>
      <div class="col-md-8 col-sm-7 col-12">
        <ul class="nav navMenu p-2 bd-transparent">
          <li class="nav-item">
            <a class="nav-link active" href="#">Artistes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ma bibliothéque</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-5 col-md-12 col-sm-12 col-12">
        <div class="row">
          <div class="col-12 mb-3">
            <span class="title-section">Artiste du jour</span>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <img class="Mask" src="../../../assets/img/Mask@2x.jpg" style=" width: 100%; height: 100%;"/></div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-7 col-md-12 col-sm-12 col-12">
        <ul class="list-group play-music">
          <li class="list-group-item pr-0 pl-0">
            <div class="d-flex">
              <div class="d-flex justify-content-center pt-3 play-item">
                <i class="fas fa-pause text-light"></i>
              </div>
              <div class="flex-grow-1">
                <div class="row">
                  <div class="col-12">
                    <span class="title">MARUV</span>
                  </div>
                  <div class="col-12">
                    <span class="sub-title">Crooked</span>
                  </div>
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-center play-timer">
                <span class="text-light">3:26</span>
              </div>
              <div class="d-flex justify-content-center pt-3 play-like">
                <i class="fas fa-heart text-light"></i>
              </div>
            </div>
          </li>
          <li class="list-group-item pr-0 pl-0">
            <div class="d-flex">
              <div class="d-flex justify-content-center pt-3 play-item">
                <i class="fas fa-play-circle text-light"></i>
              </div>
              <div class="flex-grow-1">
                <div class="row">
                  <div class="col-12">
                    <span class="title">Fallulah</span>
                  </div>
                  <div class="col-12">
                    <span class="sub-title">Dysfunctional</span>
                  </div>
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-center play-timer">
                <span class="text-light">3:26</span>
              </div>
              <div class="col-1 d-flex justify-content-center p-3 play-like">
                <i class="fas fa-heart text-light"></i>
              </div>
            </div>
          </li>
          <li class="list-group-item pr-0 pl-0">
            <div class="d-flex">
              <div class="d-flex justify-content-center pt-3 play-item">
                <i class="fas fa-play-circle text-light"></i>
              </div>
              <div class="flex-grow-1">
                <div class="row">
                  <div class="col-12">
                    <span class="title">Fallulah</span>
                  </div>
                  <div class="col-12">
                    <span class="sub-title">Dysfunctional</span>
                  </div>
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-center play-timer">
                <span class="text-light">3:26</span>
              </div>
              <div class="col-1 d-flex justify-content-center p-3 play-like">
                <i class="fas fa-heart text-light"></i>
              </div>
            </div>
          </li>
          <li class="list-group-item pr-0 pl-0">
            <div class="d-flex">
              <div class="d-flex justify-content-center pt-3 play-item">
                <i class="fas fa-play-circle text-light"></i>
              </div>
              <div class="flex-grow-1">
                <div class="row">
                  <div class="col-12">
                    <span class="title">Fallulah</span>
                  </div>
                  <div class="col-12">
                    <span class="sub-title">Dysfunctional</span>
                  </div>
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-center play-timer">
                <span class="text-light">3:26</span>
              </div>
              <div class="col-1 d-flex justify-content-center p-3 play-like">
                <i class="fas fa-heart text-light"></i>
              </div>
            </div>
          </li>
          <li class="list-group-item pr-0 pl-0">
            <div class="d-flex">
              <div class="d-flex justify-content-center pt-3 play-item">
                <i class="fas fa-play-circle text-light"></i>
              </div>
              <div class="flex-grow-1">
                <div class="row">
                  <div class="col-12">
                    <span class="title">Fallulah</span>
                  </div>
                  <div class="col-12">
                    <span class="sub-title">Dysfunctional</span>
                  </div>
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-center play-timer">
                <span class="text-light">3:26</span>
              </div>
              <div class="col-1 d-flex justify-content-center p-3 play-like">
                <i class="fas fa-heart text-light"></i>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-xl-4 col-lg-5 col-md-12 col-sm-12 col-12">
        <div class="row">
          <div class="col-12 mb-3">
            <span class="title-section">Forume</span>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <div style=" width: max-content; position: relative;">
              <img src="../../../assets/img/Saez-manifeste-1030x510.jpg" style=" width: 100%; height: 100%;"/>
              <div class="detailSection p-3">
                <div class="row">
                  <div class="col-12">
                    <span class="title-section">Titre ici</span>
                  </div>
                  <div class="col-12">
                    <p class="m-0 detail">
                      Abonnez-vous à des artistes pour vous et pour eux. A contre courant de ce que propose l'industrie, nous n'offrons pas la consommation de masse mais une consommation ciblée. ..
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 justify-content-end">
                  <i class="fas fa-angle-left"></i>
                  <i class="fas fa-angle-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-7 col-12">
        <div class="row">
          <div class="col-6 mb-3">
            <span class="title-section">Recommender</span>
          </div>
          <div class="col-6 mb-3 d-flex justify-content-end">
            <span class="subtitle-section">View all</span>
          </div>
          <div class="col-12">
            <div class="d-flex" style=" overflow-x: auto;">
              <div class="pl-3 pr-3 d-flex justify-content-center flex-grow-1">
                <img src="../../../assets/img/images.png" height="160" width="160"/>
              </div>
              <div class="pl-3 pr-3 d-flex justify-content-center flex-grow-1">
                <img src="../../../assets/img/images.png" height="160" width="160"/>
              </div>
              <div class="pl-3 pr-3 d-flex justify-content-center flex-grow-1">
                <img src="../../../assets/img/images.png" height="160" width="160"/>
              </div>
              <div class="pl-3 pr-3 d-flex justify-content-center flex-grow-1">
                <img src="../../../assets/img/images.png" height="160" width="160"/>
              </div>
              <div class="pl-3 pr-3 d-flex justify-content-center flex-grow-1">
                <img src="../../../assets/img/images.png" height="160" width="160"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

