<div class="Rectangle" style=" height: 100%;">
    <ul class="nav navMenu d-flex p-2 bd-transparent">
      <li class="nav-item pl-3">
        <a class="nav-link active" href="#"><i class="fas fa-angle-right"></i><span>Explorer</span></a>
      </li>
      <li class="nav-item pl-3">
        <a class="nav-link" href="#"><i class="fas fa-angle-right"></i><span>Favoris</span></a>
      </li>
      <li class="nav-item pl-3">
        <a class="nav-link" href="#"><i class="fas fa-angle-right"></i><span>Mes albums</span></a>
      </li>
      <li class="nav-item pl-3">
        <a class="nav-link" href="#"><i class="fas fa-angle-right"></i><span>Mes Playlistes</span></a>
      </li>
    </ul>
  </div>

