@media (min-width: 768px) {
  .navMenu > li {
    flex-direction: column;
  }
  .navMenu .nav-item {
    width: 100%;
  }
}
.navMenu .nav-item {
  position: relative;
}
.navMenu .nav-item i {
  position: absolute;
  left: 10px;
  top: 7px;
  font-size: 17px;
}
.navMenu .nav-item > a {
  opacity: 0.73;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
