<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-12 col-12 p-0">
      <app-header></app-header>
    </div>
    <div class="col-lg-10 col-md-9 col-sm-12 col-12">
      <app-home class="Explore-APP"></app-home>
    </div>
  </div>
  <div class="Rectangle row">
    <div class="col-12">
      <app-lecteur class="pl-3 pr-3"></app-lecteur>
    </div>
  </div>
</div>


